@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --verde: #10723f;
  --vermelho: #c00f0c;
  --azul: #15244f;
  --cinza: #5e70a5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  position: fixed;
  width: 100%;
  height: auto;
  background-color: var(--verde);
}

#menu-toggle {
  display: none;
}

.menu-btn {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
  height: 21px;
  margin-left: 2vw;
  cursor: pointer;
  z-index: 1002;
}

.menu-btn > span {
  display: block;
  height: clamp(3px, 0.5vw, 3px);
  width: clamp(35px, 3vw, 50px);
  background-color: white;
  border-radius: 3px;
  transition: 0.3s;
}

div#menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: auto;
  height: 100%;
  background-color: var(--cinza);
  color: white;
  transition: left 0.3s ease;
  padding-top: 60px;
  z-index: 1001;
}

div#menu ul > li {
  padding: 15px;
  list-style: none;
  font-size: clamp(1rem, 7vw, 3rem);
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

div#menu ul li:hover {
  background: none;
  text-decoration: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.505);
  opacity: 0;
  pointer-events: none;
  transition: 0.3 ease;
  z-index: 1000;
}

#menu-toggle:checked ~ #menu {
  left: 0;
}

#menu-toggle:checked ~ .overlay {
  opacity: 1;
  pointer-events: auto;
}

#menu-toggle:checked + .menu-btn span:nth-child(1) {
  transform: rotate(45deg) translateY(13px);
  background: white;
}

#menu-toggle:checked + .menu-btn span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked + .menu-btn span:nth-child(3) {
  transform: rotate(-45deg) translateY(-13px);
  background: white;
}

div#nome-escola {
  height: 65px;
  width: 515px;
  display: flex;
  text-align: center;
  color: white;
  font-size: clamp(0.3rem, 1.9vw, 1rem);
}

div#nome-escola > h1 {
  align-self: center;
}

img#logo-escola {
  width: clamp(80px, 10vw, 130px);
  height: auto;
  align-items: center;
}

img#escola-frente {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-top: clamp(65px, 2vw, 81px);
}

section {
  height: calc(100vh - 80px);
  display: flex; /*tirar ao final do projeto*/
  justify-content: center; /*tirar ao final do projeto*/
  border: 1px solid gray; /*tirar ao final do projeto*/
  border-radius: 53px; /*tirar ao final do projeto*/
  padding-top: 110px;
  padding-bottom: 100px;
}

div.divisão {
  height: 80px;
  width: auto;
  background-color: var(--azul);
}

section#sobre {
  display: flex;
  flex-direction: column;
  border: 0px; /*tirar ao final do projeto*/
  height: auto;
}

section#sobre > h2 {
  color: var(--verde);
  align-self: center;
  font-size: clamp(2rem, 10vw, 12rem);
}

div#historia-sobre {
  border: 1px solid var(--vermelho);
  border-radius: 5px;
  margin: 25px;
}

div#historia-sobre > p {
  text-indent: 25px;
  padding: 10px;
  text-align: justify;
  line-height: 1.5em;
  font-size: clamp(0.9rem, 2vw, 4rem);
}

div#Gestão {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

div#Gestão > h2 {
  color: var(--verde);
  font-size: clamp(2rem, 10vw, 12rem);
}

div#Gestão-sobre {
  border: 1px solid var(--vermelho);
  border-radius: 5px;
  margin-bottom: 25px;
  margin: 25px;
}

div#Gestão-sobre > p {
  text-indent: 15px;
  text-align: justify;
  font-size: clamp(0.8rem, 2vw, 4rem);
  line-height: 1.5em;
}

section#estrutura {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  border: 0px; /*tirar ao final do projeto*/
}

section#estrutura > h2 {
  color: var(--verde);
  align-self: center;
  font-size: clamp(2rem, 10vw, 7rem);
}

section#estrutura > p {
  align-self: center;
  text-align: justify;
  margin: 25px;
  text-indent: 25px;
  line-height: 1.5em;
  font-size: clamp(0.9rem, 2vw, 1.5rem);
}

div#foto {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 25px;
}

div.foto {
  aspect-ratio: 1 / 1;
  width: clamp(200px, 20vw, 400px);
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--cinza);
  align-items: center;
  align-self: center;
  margin: 10px;
  flex: 0 1 auto;
}

div#foto2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding-left: 25px;
  padding-right: 25px;
}

section#saeb {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  border: 0px; /*tirar ao final do projeto*/
}

section#saeb > h2 {
  color: var(--verde);
  align-self: center;
  font-size: clamp(1.2rem, 4vw, 12rem);
  margin-bottom: 50px;
}

h3.saeb {
  margin: 25px;
  font-size: clamp(1.1rem, 2vw, 12rem);
  align-self: center;
}

div#oque-saeb {
  margin: 25px;
  display: flex;
  flex-flow: column nowrap;
}

div#oque-saeb > p {
  text-align: justify;
  text-indent: 25px;
  line-height: 1.5em;
  font-size: clamp(0.9rem, 2vw, 4rem);
}

div#pq-importante {
  margin: 25px;
  display: flex;
  flex-flow: column nowrap;
}

div#pq-importante > ul > li {
  margin: 0px 25px 0px 25px;
  line-height: 2.5em;
  font-size: clamp(1rem, 2vw, 4rem);
}

div#qm-participa {
  margin: 25px;
  display: flex;
  flex-flow: column nowrap;
}

div#qm-participa > ul > li {
  margin: 0px 25px 0px 25px;
  line-height: 2.5em;
  font-size: clamp(1rem, 2vw, 4rem);
}

footer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: var(--verde);
}

#footer-logo-escola {
  width: clamp(80px, 10vw, 160px);
  height: auto;
}

#lista-contatos {
  color: white;
  text-align: center;
}

#lista-contatos > h1 {
  font-size: clamp(1.5rem, 2vw, 10rem);
}

#lista-contatos > ul > li {
  font-size: clamp(0.7rem, 1.9vw, 1rem);
  text-align: start;
  line-height: 2em;
  list-style: none;
}

#lista-contatos > ul > li > i {
  padding: 5px;
  margin-left: 2px;
}

#lista-contatos ul li:hover {
  text-decoration: none;
  background: none;
  cursor: default;
}

#footer-logo-prefeitura {
  width: clamp(60px, 10vw, 120px);
  height: auto;
}
